.vs/
ApiResponseHandlerWithMediatr/bin/
ApiResponseHandlerWithMediatr/obj/
ApiResponseWithExceptionHandlers/bin/
ApiResponseWithExceptionHandlers/obj/
BenchmarkDotNetCompare/bin/
BenchmarkDotNetCompare/obj/